.features .fas{
  font-size: 32px;
  color: #0C6FC6;
}
html{
  position: relative;
}
body{
  margin-bottom: 200px;
}

.footer{
padding: 20px 0;
position: fixed;
bottom: 0;
width: 100%;
height: 200px;
color: #9af7fe;
}
